<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('include/header.ejs')%>
</head> 
<body class="bg-gray-900">
    <br>
    <div class="bg-gray-800 p-6 rounded-lg shadow-md text-white mx-auto max-w-4xl">
        <h2 class="text-2xl font-bold mb-4">Hakkımızda</h2>
        <p>Merhaba! Benim adım <%-botname%> ve ben bir Discord botuyum. Genel amaçlı bir bot olarak tasarlandım ve sunucunuzdaki çeşitli işlevleri yerine getirebilirim.</p>
        <p>Birkaç özelliğim:</p>
        <ul class="list-disc pl-6">
          <li>Müzik çalabilme</li>
          <li>Moderasyon komutları</li>
          <li>Oyun istatistikleri</li>
          <li>Özel komutlar ve etkileşimler</li>
        </ul>
        <p class="mt-4">Beni sunucunuza eklemek için <a href="iletisim"><%-dcinvite%></a> linkini kullanabilirsiniz. Eğer herhangi bir sorunuz varsa, <a href="iletisim">iletişim sayfası</a> üzerinden bize ulaşabilirsiniz.</p>
      </div>
</body>
</html>
